ReactNavBar{

  padding-left: 0px;
  color: black;
}
.styles_LogoImg__2wRK6{
  height: 40px !important;
}

.styles_navLinks__38tON ul li a{
  color: black  !important;
  

}



.main_banner_text {
  position: absolute;
  letter-spacing: .25px;
  text-shadow: 0 3px 6px rgba(0,0,0,.16078);
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: Raleway,sans-serif;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

.mouse{

  position: absolute;
  transform: translate(-50%, -500%);
  top: 20%;

}

@media (max-width: 900px) {
  .main_banner_text{
    top: 20%;
    left: 50%;
    font-size: 20px;
  }
}


@media (min-width: 1200px) {
  .main_banner_text{
    top: 60%;
    left: 50%;
    font-size: 40px;
  }
}



div {
  display: block;
}






*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.sticky {
  position: fixed;
  opacity: 0;
  width: 100%;
}

.container {
  height: 60px;
  background: none;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: black;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.slider_down_btn {
  position: relative;
  width: 28px;
  height: 42px;
  border: 2px solid #131111;
  border-radius: 50px;
  z-index: 99999;
  cursor: pointer;
  margin: 0 auto;
  top: 70%;
}






h1{
  font-size: 50px;
  font-family:Audiowide;
}
p{
  font-size: 24px;
  line-height: 50px;
}

.about-area, .port-area{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part{
  width: 80%;
  height: 100%;
}        
.about-area{
  background-color: #fefefe;
}
.port-area{
  background-color: #262626;
  color: #fff;
}

.MobileNav_navBars__31q_E {
  width: 0% !important;
  color: white;
  font-size: 40px;
}

.circle{

  background-image: url("./download.png");

  height: 250px;
  position: absolute;
   top: 40px;
   left: 80px;
}

.container1 {
  width: 100%;
  height: 500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container2 {
  width: 100%;
  height: 700px;
  padding-right: 15px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px){
.container1, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}}


.text{

  position: absolute;
  top: 100px;
   left: 200px;

}

.section_title_description {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -.19px;
  color: #000;
  opacity: 1;
  padding-top: 19%;
}



.compare_images_section>div>div {
  height: 80%!important;
}

.style1{
  box-sizing: border-box;
   position: relative;
    width: 100%;
     height: 631.25px;
      overflow: hidden;
       display: block;
}

.style2{
  clip: rect(auto, auto, auto, 505px); display: block; height: 100%; object-fit: cover; position: absolute; width: 100%;
}

.style3{
  clip: rect(auto, 505px, auto, auto); display: block; height: 100%; object-fit: cover; position: absolute; width: 100%;
}

.style4{
  align-items: center; cursor: ew-resize; display: flex; flex-direction: column; height: 100%; justify-content: center; left: 485.5px; position: absolute; top: 0px; width: 40px;
}

.style5{
  background: rgb(58, 194, 128); box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; flex: 0 1 auto; height: 100%; width: 2px;
}

.style6{
  align-items: center; box-sizing: border-box; display: flex; flex: 1 0 auto; height: auto; justify-content: center; width: auto;
}

.style7{
  background: rgb(58, 194, 128); box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; flex: 0 1 auto; height: 100%; width: 2px;
}

.style8{
  pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;
}

.style9{
  pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;
}

.style10{
  position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 1020px; height: 641px;
}

.style11{
  pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;
}

.style12{
  position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;
}